<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log ind på hestenettet</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="logon">
      <h2 id="headlineLoginPage">Her kan du logge ind på hestenettet</h2>
      <input type="email" name="email" id="email" placeholder="Email adresse" />
      <input type="password" id="password" placeholder="password" />
      <div>
        <button id="loginKnap" class="button-Style">Log ind</button>
      </div>
      <br />
      <a class="registrerLink" id="registrerlink" href="opretBruger.html"
        >Klik her hvis du ikke har en bruger</a
      >
    </div>
  </body>
  <script src="login.js"></script>
</html>
