<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Opret dig på hestenettet</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="oBruger">
  <h2 id="headlineLoginPage">Her kan du oprette dig på hestenettet</h2>
  <form id="register">
    <input type="email" name="email" id="email" placeholder="Emailadresse" />
    <input type="password" name="password" id="password" placeholder="Adgangskode"
    />
    <input type="submit" id="createUser" value="Opret her" />
</form>
</div>
</body>
<script src="OpretBruger.js"></script>
  <a class="registrerLink" id="registrerLink" href="login.html">Klik her hvis du har en bruger</a>
</p>
</html>
